<?xml version="1.0"?>
<log4net debug="false">

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=WASEEM-PC\SQLEXPRESS;Initial Catalog=RabbitMQLoggingDB;Integrated Security=True" />
    <commandText value="INSERT INTO [dbo].[tbl_MessageLogs]([CorrelationId],[MessageData],[CreatedOnUTC])VALUES
                 (@CorrelationId,@MessageData,@CreatedOnUTC)" />
   
    <parameter>
      <parameterName value="@CorrelationId"/>
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{CorrelationId}" />
      </layout>
    </parameter>
  <parameter>
      <parameterName value="@MessageData"/>
      <dbType value="String" />
       
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{MessageData}" />
      </layout>
    </parameter>
  <parameter>
      <parameterName value="@CreatedOnUTC"/>
      <dbType value="DateTime" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{CreatedOnUTC}" />
      </layout>
    </parameter>
  </appender>

</log4net>
