<?xml version="1.0"?>
<log4net debug="false">

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=W12928\MSSQLSERVER1;Initial Catalog=RabbitMQLoggingDB;Integrated Security=True" />
    <commandText value="INSERT INTO [dbo].[tbl_MessageLogs]([CorrelationId],[MessageData],[CreatedOnUTC])VALUES(@CorrelationId,@MessageData,@log_date)" />
    <parameter>
      <parameterName value="@CorrelationId" />
      <dbType value="GUID" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@MessageData" />
      <dbType value="String" />
      <size value="5000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@CustomColumn"/>
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{CustomColumn}" />
      </layout>
    </parameter>
  </appender>

</log4net>
https://stackoverflow.com/questions/12139486/log4net-how-to-add-a-custom-field-to-my-logging