<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="SaveToDB"
         xsi:type="Database"
         dbProvider="System.Data.SqlClient"
         connectionString="Data Source=W12928\MSSQLSERVER1;Initial Catalog=RabbitMQLoggingDB;Integrated Security=True"
         commandType="StoredProcedure"
         commandText="[dbo].[usp_tbl_Logs_SaveLogs]">
      <parameter name="@machineName"   layout="${machinename}" />
      <parameter name="@CorrelationId" layout="${event-properties:item=CorrelationId}" />
      <parameter name="@MessageData"   layout="${message}" />
      <parameter name="@Result"        layout="${event-properties:item=Result}"  />
      <parameter name="@logged"        layout="${date}" />
      <parameter name="@exception"     layout="${exception:tostring}" />
      <parameter name="@logger"        layout="${logger}" />

    </target>

    <target xsi:type="File" name="fileTarget" fileName="c:\temp\RabbitMQLogs.log"
    layout="${date}|${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="fileTarget,SaveToDB" />

  </rules>
</nlog>
